* {
    margin: 0;
}

.nyf {
    background-color: rgba(233, 39, 113, 0.966);
}

.enca {
    background-color: #e92771;
    background-image: linear-gradient(180deg, #e92771 47%, #33cfef 100%);
}

.avatar {
    width: 100px;
    border-radius: 60%;
}