@import url('https://fonts.googleapis.com/css2?family=Delius&family=Rye&display=swap');
* {
    margin: 0;
}

.nyf {
    background-color: #e92771;
}

.enca {
    background-color: #143af3;
    background-image: linear-gradient(0deg, #143af3 0%, #e92771 20%);
}

.avatar {
    width: 100px;
    border-radius: 60%;
}

.mm {
    background-color: #143af3;
    background-image: linear-gradient(180deg, #143af3 70%, #e92771 100%);
}

.titulos {
    font-family: 'Rye', cursive;
    color: white;
}

.p {
    font-family: 'Delius', cursive;
    color: rgb(247, 238, 238);
}